<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="<%= params[:controller].gsub(/[\/_]/, '-') %>" id="<%= params[:controller].gsub('/', '-') %>-<%= action_name %>">
    <% if controller_name != 'sessions' && (controller_name != 'users' && action_name != 'new') %>
      <%= render partial: '/shared/navbar' %>
    <% end %>
    <%= render partial: '/shared/flash' %>
    <div class='outter-container'>
      <%= yield %>
    </div>

  </body>
</html>
